{% extends 'base/base.html.twig' %}

{% block title %}Forget password{% endblock %}

{% block body %}
    {{ form_start(form) }}
    <div class="card mb-4">
        <div class="card-body">
            <h2 class="card-title">Forget password</h2>
            <hr>
            {% if message is defined %}
                <div class="alert alert-primary text-center" role="alert">
                    {{ message }}
                </div>
            {% endif %}
            {{ form_errors(form.email) }}
            {{ form_widget(form.email) }}
        </div>
        <div class="card-footer text-muted">
            <div class="row text-right pl-2 float-left">
                <a href="{{ path('default') }}" class="btn btn-dark">Back to home page</a>
            </div>
            <div class="row pr-2 float-right">
                <input type="submit" class="btn btn-success" value="Reset password">
            </div>
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}