<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link href="{{ asset('css/blog.css') }}" rel="stylesheet" />
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Blog</a>
        </div>
        <ul class="nav navbar-nav">
            <li><a href="/">Home</a></li>
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                <li><a href="{{ path('app_logout') }}">Logout</a></li>
            {% else %}
                <li><a href="{{ path('app_login') }}">Login</a></li>
                <li><a href="{{ path('register') }}">Registration</a></li>
            {% endif %}
            <li><a href="{{ path('article') }}">Articles</a></li>
            {% if is_granted(expression(
                '"ROLE_BLOGGER" in roles'
                )) %}
                <li><a href="{{ path('post_article') }}">Add article</a></li>
            {% endif %}
        </ul>
    </div>
</nav>

<div class="container">
    {% block body %}
        <h1>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            Hello {{ app.user.username }}!
        {% else %}
            Hello Guest!
        {% endif %}
        </h1>
    {% endblock %}
</div>

{% block javascripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
{% endblock %}
</body>
</html>
