{% extends 'default/admin.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <div class="container-fluid">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">ID</th>
                <th scope="col">Title</th>
                <th scope="col">Article text</th>
                <th scope="col">Author</th>
                <th scope="col">Tags</th>
                <th scope="col">Created</th>
                <th scope="col">Approve</th>
            </tr>
            </thead>
            <tbody>
            {% for article in articles %}
                <tr>
                    <th scope="row">{{ article.id }}</th>
                    <td>{{ article.title }}</td>
                    <td>{{ article.text }}</td>
                    <td>{{ article.author.username }}</td>
                    <td>{% for tag in article.tags %}{{ tag.name }}{% if not loop.last %}, {% endif %}{% endfor %}</td>
                    <td>{{ article.createdAt|date('H:i d F Y') }}</td>
                    <td>
                        <a class="btn btn-success"
                           href="{{ path('article_approve') }}?post_id={{ article.id }}"
                           role="button">
                            <i class="fa fa-check"></i> Approve
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        <div class="col-md-3 mx-auto">
            {{ knp_pagination_render(articles) }}
        </div>
    </div>
{% endblock %}
