{% extends 'default/index.html.twig' %}

{% block title %}Add new article{% endblock %}

{% block body %}
    <div class="col-md-6 mx-auto">
        <h1 class="h3 mb-3 font-weight-normal">Add new article</h1>
        {{ form_start(form) }}
        {{ form_errors(form.title) }}
        {{ form_widget(form.title) }}
        {{ form_errors(form.text) }}
        {{ form_widget(form.text) }}
        <button class="btn btn-lg btn-primary" type="submit">
            Post Article
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
