{% extends 'base/base.html.twig' %}

{% block title %}SymfoBlog - {{ article.title }}{% endblock %}

{% block body %}
    <div class="card mb-4">
        {% if article.thumbnail is empty %}
            <img class="card-img-top" src="{{ asset('images/no-thumbnail.jpg') }}" alt="">
        {% else %}
            <img class="card-img-top" src="{{ asset('uploads/images/' ~ article.thumbnail) }}" alt="">
        {% endif %}
        <div class="card-body">
            <h2 class="card-title">{{ article.title }}</h2>
            <p class="card-text">{{ article.text }}</p>
        </div>
        <div class="card-footer text-muted">
            <div class="row">
                <div class="col-md-9 justify-content-center align-self-center">
                    Posted on {{ article.createdAt|date('F d, Y') }} by {{ article.author.username }}
                </div>
                <div class="col-md-3 text-right">
                    <a class="btn btn-light text-primary" href="#comments"
                       role="button">
                        {% if article.comments|length > 0 %}
                            {% set commentCount = 0 %}
                            {% for comment in article.comments %}
                                {% if comment.isDeleted == false %}
                                    {% set commentCount = commentCount + 1 %}
                                {% endif %}
                            {% endfor %}
                            {{ commentCount }}
                        {% endif %}
                        <i class="fa fa-comment"></i>
                    </a>
                    <a class="btn btn-light text-primary" href="{{ path('like_article', {'id': article.id}) }}"
                       role="button">
                        {% if article.articleLikes|length > 0 %}
                            {{ article.articleLikes|length }}
                        {% endif %}
                        <i class="fa fa-heart"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>

    {% if not article.tags is empty %}
        <div class="card mb-4">
            <div class="card-body text-muted">
                <p class="card-text">
                    Tags:
                    {% for tag in article.tags %}
                        <a
                        href="{{ path('tag_article', {'name': tag.name}) }}">{{ tag.name }}</a>{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </p>
            </div>
        </div>
    {% endif %}

    <div class="card mb-4" id="comments">
        <div class="card-body">
            <h3>Comments</h3>
            <hr>
            {{ render(controller('App\\Controller\\CommentController::listCommentsAction', { 'article': article, 'request': request })) }}
        </div>
    </div>
{% endblock %}
