{% extends 'default/index.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
    <h1 class="h3">Articles with tag '{{ tag_name }}':</h1>
    {% for tag in tags %}
        <div class="card mb-4">
            <img class="card-img-top" src="">
            <div class="card-body">
                <h2 class="card-title">{{ tag.article.title }}</h2>
                <p class="card-text">{{ tag.article.text }}</p>
                <a href="{{ path('post') }}?id={{ tag.article.id }}" class="btn btn-primary">Read More &rarr;</a>
            </div>
        </div>
    {% endfor %}

    {#<div class="col-md-3 mx-auto">#}
        {#{{ knp_pagination_render(articles) }}#}
    {#</div>#}
{% endblock %}
