{% extends 'default/index.html.twig' %}

{% block title %}Register!{% endblock %}

{% block body %}
    <div class="col-md-6 mx-auto">
        <h1 class="h3 mb-3 font-weight-normal">Registration form</h1>
        {{ form_start(form) }}
        {{ form_widget(form.username) }}
        {{ form_errors(form.email) }}
        {{ form_widget(form.email) }}
        {{ form_widget(form.plainPassword) }}
        <button class="btn btn-lg btn-primary" type="submit">
            Register
        </button>
        {{ form_end(form) }}
    </div>
{% endblock %}
